<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.suggee.edustudent">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".EduApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".modulers.splash.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".modulers.login.GuideActivity"/>

        <activity
            android:name=".modulers.login.LoginActivity"
            android:label="登陆"/>

        <activity
            android:name=".modulers.login.RegisterActivity"
            android:label="注册"/>

        <activity
            android:name=".modulers.login.ResetPwdActivity"
            android:label="忘记密码"/>

        <activity
            android:name=".modulers.login.LicenseActivity"
            android:label="注册协议"/>

        <activity
            android:name=".modulers.MainActivity"
            android:label="@string/app_name">
        </activity>

        <activity android:name=".modulers.home.HomeActivity"/>
    </application>

</manifest>